.sectLvl2 {
    border: 1px solid #ff0000;
    flex-direction: column;
    font-family: Arial, system-ui, Helvetica, sans-serif;
  }

.jobDiv {
  border: 1px solid blue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}


.btn {
  justify-self: flex-end;
}

.btn.show {
  display: block;
}

.btn.hide {
  display: none;
}