.sectLvl2 {
  position: relative;
  /* border: 1px solid #ff0000; */
  /* border: 2px solid black; */
  box-shadow: 1px 0px 10px 1px black;

  flex-direction: column;
  font-family: Arial, system-ui, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sectLvl2 > h3 {
  margin-right: 60px;
  margin-left: 20px;
  font-size: 36px;
}

.experienceDiv {
  /* border-left: 2px solid black; */
  box-shadow: 1px 1px 10px 1px black;
}

.jobDiv {
  /* border: 1px solid blue; */
  border-bottom: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 200px;
}

.jobDiv h4 {
  margin: 0px;
  padding: 5px 10px;
  font-size: 20px;
}

.jobDiv h5 {
  margin: 0px;
  padding: 5px 10px;
  font-size: 16px;
}

.jobDiv ul {
  margin: 0px 20px;
  margin-top: -10px;
  padding: 5px 10px;
}

.jobDiv ul li {
  font-size: 12px;
  list-style: none;
}

/* Inputs */

input {
  /* border: 1px solid green; */
  width: fit-content;
  margin-left: 5px;
}

input[placeholder="Company Name"] {
  margin: 0px;
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 20px;
  width: 400px;
}

input[placeholder="Date Start"],
input[placeholder="Date End"] {
  padding: 2px 5px;
  width: 100px;
}

input[placeholder="Job Description"] {
  font-size: 16px;
  width: 250px;
}

input[placeholder="Task"] {
  margin: 2px 0px;
  font-size: 12px;
  width: 600px;
}

/* Buttons */

.jobDiv button {
  position: absolute;
}

.btn.show.add {
  position: absolute;
  top: 100px;
  left: 20px;
}

.btn.show.remove {
  position: absolute;
  right: 5px;
}

.btn.show {
  display: block;
}

.btn.hide {
  display: none;
}
