.sectLvl1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  box-sizing: border-box;
  position: relative;
  margin-top: 100px;
  font-family: Arial, system-ui, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-left: 0px;
}

input {
  /* border: 1px solid blue; */
  border: none;
  margin: 0;
  padding: 0;
  background-color: white;
  outline: none;
  font-style: italic;
}

#fullName,
h1 {
  margin: 25px 5px 5px 30px;
  padding: 0;
  max-width: 500px;
  height: 56px;
  font-size: 52px;
  font-weight: bold;
}

h1,h2 {
  color: white;
}

#title,
h2 {
  margin: 5px 5px 5px 30px;
  padding: 0;
  width: 400px;
  height: 24px;
  font-size: 26px;
  font-weight: 700;
}

.nameDiv {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  padding-left: 0px;
  width: 600px;
  height: 220px;
}

.contactsDiv {
  box-sizing: border-box;
  width: 300px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: baseline;
}

div > ul {
  margin: 0;
  /* margin-top: 20px; */
  padding: 0;
  display: flex;
  flex-direction: column;
}

div > ul > li {
  font-size: 18px;
  line-height: 35px;
  font-weight: bold;
  list-style-type: none;
}

div > ul > li > input {
  font-size: 18px;
  width: 180px ;
}

li.phone {
  display: flex;
  justify-items: center;
  align-items: center;
}

li.phone::before, input[className="phone"]::before {
  content: url("../src/assets/phone.svg");
  padding-top: 5px;
  margin-left: -5px;
}

li.email {
  display: flex;
  justify-items: center;
  align-items: center;
}

li.email::before, input[className="email"]::before {
  content: url("../assets/email.svg");
  margin-right: 5px;
  padding-top: 5px;
}

li.gitHub {
  display: flex;
  justify-items: center;
  align-items: center;
}

li.gitHub a {
  color: black;
}

li.gitHub::before, input[className="gitHub"]::before {
  content: url("../assets/github.svg");
  margin-right: 5px;
  padding-top: 5px;
}

li.location {
  display: flex;
  justify-items: center;
  align-items: center;
}

li.location::before, input[className="location"]::before {
  content: url("../assets/location.svg");
  margin-right: 5px;
  padding-top: 5px;
}


.editInfoBtn {
  position: absolute;
  top: 100px;
}