.sectLvl1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  box-sizing: border-box;
  position: relative;
  margin-top: 100px;
  font-family: Arial, system-ui, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  height: 20vh;
}

.sectLvl1 > div {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  /* border: 1px solid blue; */
  border: none;
  margin: 0;
  padding: 0;
  background-color: white;
  outline: none;
  font-style: italic;
}

#fullName,
h1 {
  margin: 20px 20px 5px 40px;
  padding: 0;
  width: 400px;
  height: 56px;
  font-size: 3rem;
  font-weight: 700;
}

#title,
h2 {
  margin: 5px 20px 5px 40px;
  padding: 0;
  width: 400px;
  height: 24px;
  font-size: 1rem;
  font-weight: 500;
}

div > ul {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
}

div > ul > li {
  font-size: 18px;
  line-height: 35px;
  font-weight: bold;
  list-style-type: none;
}

.editInfoBtn {
  position: absolute;
  top: 100px;
}