:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

body button {
  position: absolute;
}


.additionalSectionDiv {
  border: 1px solid red;
  margin-bottom: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
}

.additionalSectionDiv .editSkillsBtn {
  left: 0px;
}

.additionalSectionDiv .editHobbyBtn {
  right: 0px;
}

.additionalSectionDiv .skillDiv {
  margin-right: 20px;
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.additionalSectionDiv .skillDiv * {
  margin: 0;
  padding: 0;
}

.additionalSectionDiv .skillDiv h5 {
  margin-top: 2px;
}

.additionalSectionDiv .sectLvl4, .additionalSectionDiv .sectLvl5 {
  width: 50%;
}

.additionalSectionDiv h5 {
  margin: 10px 0px 10px 0px ;
}